@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary-light: #41528a;
  --color-primary-dark: #212529;

  --color-secondary-light: #f5f5fa;
  --color-secondary-dark: #1a1d21;

  --color-text-900: #49508f;
  --color-text-800: #6a6e7d;
  --color-text-700: #94a3d4;
  --color-text-500: #f2f3f7;

  --color-green: #0bb39c;
  --color-lightGreen: #daf5f1;

  --color-blue: #2a9ddb;
  --color-lightBlue: #def0fa;

  --color-orange: #f7b84a;
  --color-lightOrange: #fff5e6;

  --color-purple: #41528a;
  --color-lightPurple: #e1e4ed;
}
